<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
 	<select>
		<% productosVista.forEach(producto => { %>
			<option value='<%=producto.id%>'><%=producto.nombre%></option>
		<% }) %>
	</select>
 </body>
</html>